// Place all the styles related to the Pings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	// border: 1px solid red;
	// -moz-box-sizing: border-box;
	// -webkit-box-sizing: border-box;
	// box-sizing: border-box;
}

body {
	font-family: "Helvetica", san-serif;
	background: #2f8cd6;
	color: #fff;
	a {
		background: #dbe1e7;
		color: #000;
		text-decoration: none;
		padding: 10px;
		border-radius: 4px;
		display: inline-block;
		margin-left: 10px;
	}
}

h3 {
	text-align: center;
	color: white;
}

.row .large-12.columns h1.main-header {
	text-align: center;
	vertical-align: top;
	line-height: 40px;
	margin-top: 20px;
	img {
		width: 40px;
	}
	color: white;
	.skinny-text {
		font-weight: 100;
	}
}

.employees-list {
	text-align:center;
}
.user-button-rows {
	margin-bottom: 20px;
	float:left;
}
.user-button {
	i {
		font-size: 30px;
	}
	font-size: 20px;
	font-weight: bold;
	line-height: 50px;
	width: 267px;
	text-align: center;
	img {
		border-radius: 30px;
	}
}