// Place all the styles related to the Pings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800");
* {
	// border: 1px solid red;
	// -moz-box-sizing: border-box;
	// -webkit-box-sizing: border-box;
	// box-sizing: border-box;
}

body {
	font-family: 'Open Sans', Arial, serif;
	background: #2f8cd6 url( asset-path('pw_maze_white.png') );
	color: #000;
	a {
		background: #dbe1e7;
		color: $mks-soft-black;
		text-decoration: none;
		padding: 10px;
		border-radius: 4px;
		display: inline-block;
		margin-left: 10px;
	}
}

h3 {
	text-align: center;
	color: $mks-soft-black;
}

.row .large-12.columns h1.main-header {
	font-family: 'Open Sans', Arial, serif;
	text-align: center;
	vertical-align: top;
	line-height: 40px;
	margin-top: 17px;
	font-weight: normal;
	img {
		width: 40px;
	}
	color: $mks-logo-font-color;
	.fat-text {
		font-weight: 800;
	}
	.skinny-text {
		font-weight: 300;
	}
}

.employees-list {
	text-align:center;
}
.user-button-rows {
	margin-bottom: 20px;
	float:left;
}
.user-button {
	i {
		font-size: 26px;
	}
	font-size: 17px;
	font-weight: bold;
	// line-height: 50px;
	width: 267px;
	padding-left: 19px;
	img {
		border-radius: 30px;
	}
	.btn-photo {
		float:left;
	}
	.btn-name-title {
		float:left;
		// font-size: 12px;
		margin: 0px 0;
		margin-left: 9px;
		.name {
			margin-bottom: 10px;
			margin-top: 5px;
		}
		.role {
			font-size: 14px;
			color: #858585;
		}
	}
}
.alert.alert-success {
	background: #9BDFA6;
	border: 1px solid #009418;	
	padding: 10px;
	color: #000000;
	a.close {
		display: inline-block;
		margin-right: 10px;
	}	
}









